<div style="margin: 20px;">
    <mat-tab-group>
        <mat-tab label="first">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_M4nept0Nn4" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-tab>
        <mat-tab label="second">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MgApT3VHtZY" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-tab>
    </mat-tab-group>
</div>