<div style="margin: 20px;">
    <p>query</p>
    <mat-progress-bar mode="query" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px;">
    <p>buffer</p>
    <mat-progress-bar mode="buffer" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px;">
    <p>determinate</p>
    <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px;">
    <p>indeterminate</p>
    <mat-progress-bar mode="indeterminate" [value]="percentage"></mat-progress-bar>
</div>